@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather:wght@400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/images/bg.jpg);
    height: 75vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}

.main nav img {
    width: 9.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 10;
    /* color: rgb(229,9,20);
    fill: currentColor;
    display: block; */
}

.flex {
    position: relative;
    z-index: 10;
}

.main .box {
    height: 75vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

.hero {
    height: calc(100% - 62px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-family: Merriweather;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-family: Poppins;
    font-weight: 450;
    font-size: 23px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: Poppins;
    font-weight: 450;
    font-size: 21px;
    text-align: center;
}

.separation {
    background-color: rgb(32, 32, 32);
    height: 7px;
    position: relative;
    z-index: 20;
}

.hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(148, 146, 146, 0.199);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.199);
    border-radius: 4px;
    cursor: pointer;
    font-family: Poppins;
}

.btn-red {
    padding: 14px 38px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    background-color: red;

}

.myclass {
    padding: 3px 8px;
    font-weight: bolder;
    background-color: rgba(148, 146, 146, 0.199);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.199);
    border-radius: 4px;
    cursor: pointer;
}

.main input {
    padding: 22px 146px 21px 14px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 4px;
    font-weight: 100;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: red;

}

.first {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 415px;

}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bold;

}

section.first>div :nth-child(2) {
    font-size: 24px;
}