
.parent {
    margin: 20px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    width: 200px;
    height: 400px;
    background-color: rgba(241, 214, 163, 0.315);
    border-radius: 10px;
}

.box1 {
    border-radius: 10px;
}

img {
    border-radius: 10px;
    position: relative;
    top: 0%;
}

.spa {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(44, 44, 44);
    background-color: rgb(212, 203, 203);

}

span {
    display: inline-block;
    background-color: rgb(189, 199, 199);
    padding: 5px;
    font-size: 70%;
    border-radius: 12px;
}

.centre {
    display: flex;
    justify-content: center;
}

.big {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;
    color: rgb(0, 132, 255);
    background-color: rgba(206, 212, 214, 0.781);

}
